.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ChatContainer {
  /* border: 1px solid purple; */
  border-radius: 5px;
  width: 600px;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  height: 600px;
}

.Dialog {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  height: 100px;
  overflow: hidden;
}

.Dialog_active {
  background-color: rgba(107, 104, 252, 0.356);
}

.MessagesContainer {
  border: 1px solid green;
}

.DialogsContainer {
  width: 200px;
  border: 1px solid blue;
}

.ContainerList {
  width: 500px;
  height: 400px;
}

.List {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.ListItem {
  padding: 0 0.5rem;
  line-height: 30px;
}
